report/
report-out/
*.tar*
_xmsgs/
ipcore_dir/
iseconfig/
*.gise
*.xise
*.html
.lso
*.prj
*.stx
*.xst
*.exe
*.wdb
*.log
*.xmsgs
*.cmd
*.ini
xst/
isim/
_ngo/
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ng?
*.nc?
*.pr*
*.pc*
*.pa*
*.pt*
*.x*
*.t*
*.u*
*.debug
*.csv
*.m*
*.s*
plan*
